# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg
dist/
build/

# Virtual environments
venv/
.venv/
env/
.env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment variables
*.env
!.env.example

# Data & Model weights
data/
*.pt
*.pth
*.pkl
*.onnx
weights/
*.gguf
**/Modelfile
**/modelfile
**/Modelfile.*
**/modelfile.*

# Logs
*.log

# Node
node_modules/

# Misc
*.egg-info/
